/* Primary Styles
  Author: Dheeraj Sayala
*/

body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGUlEQVQImWN49+7dfwYGBgYYjcl49+7dfwBwxBLuSPEiiwAAAABJRU5ErkJggg==) #f6f6f6 repeat; 
}
#container, #main, #recent-posts, .post, #about-me, #contact { 
  height: 100%; overflow: hidden;
}

#header { 
  margin-bottom: 70px;
  padding: 5px 0;
  -moz-box-shadow: 0 0 5px lightgrey;
  -webkit-box-shadow: 0 0 5px lightgrey;
  box-shadow: 0 0 5px lightgrey
}
h1, h2, h3 { font-family: "Yanone Kaffeesatz", "Yanone Kaffeesatz Regular", Puritan; }

#logo {
  padding: 5px 0 10px 0;
  text-align: center;
  -moz-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  background-color: #dc2829;
  background-color: rgba(220, 40, 41, 0.8);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
#logo a { 
  text-decoration: none;
  color: #f2f2f2;
  text-shadow: 0 0 1px #444;
}
#fname, #lname { letter-spacing: 2px; }
#fname { font-size: 26px; }
#lname { font-size: 25px; }

#logo:hover { 
  background-color: rgba(220, 40, 41, 0.9);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02); 
  transform: scale(1.02);
}
#nav { padding: 10px 0; }
#nav li { 
  float:left; 
  margin: 0 15px 0 5px;
}

#nav a { 
  padding: 1px 8px 4px 8px;
  color: #dc2829;
  letter-spacing: 2px;
  font: 20px "Yanone Kaffeesatz", "Yanone Kaffeesatz Regular", Puritan;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition : all 0.2s ease-in;
}
#nav a:hover { 
  color: #f2f2f2;
  background-color: rgba(241, 41,40, 0.6);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#social-icons { 
  padding: 10px 0;
  list-style: none;
}
#social-icons li a {
  display: block; float: left;
  height: 29px; width: 29px;
  margin: 0 3px;
  overflow: hidden;
  background-image: url("../images/social.png");
  opacity: 0.8;
  -webkit-transition: opacity 0.4s ease-in;
}

#social-icons a.tw  { background-position: 0 0 }
#social-icons a.fb { background-position: -29px 0; }
#social-icons a.fr { background-position: -58px 0; }

#social-icons a:hover {opacity: 1; }

#social-icons a.tw:hover { background-position: 0 -29px;  }
#social-icons a.fb:hover { background-position: -29px -29px; }
#social-icons a.fr:hover { background-position: -58px -29px; }

.gap { height: 30px; }

.sidebar {
  float: left;
  margin-right: 10px;
  width: 215px;
  text-align: right;
  color: #444;
}
.sidebar time { 
  float: right;
  padding: 0 15px;
  font: 14px/28px "Palatino Linotype", "Book Antiqua3", Palatino, serif;
  letter-spacing: 1px;
  display: block;
  
  -moz-border-radius: 5px;
  background-color: #ddd;

}

.post-title { 
  float: left;
  width: 660px;
  margin: 0 10px 10px 10px;
}

.post-title a{
  color: #777;
  letter-spacing: 1px;
  font: 18px/ 36px "Droid Sans", sans-serif;
  text-decoration: none;
  text-shadow: 2px 2px 4px #CCC;
}
.post-title, .post-body {
   padding: 0 10px;
}
.post-body { 
  margin-top: 10px;
  font: 16px/26px "Droid Serif", "Microsoft Sans Serif"; 
  color: #444;
}

.post-body p { padding-bottom: 10px; }
.post-body::first-letter { font-size: 125%; }

.post-body a { 
  color: #dc2829;
  color: rgba(241, 41, 40, 0.7);
}
.post-title a:hover, .post-body a:hover {
  color: rgba(241, 41, 40, 0.9);
}

.no-fontface .post-title, h3 { font-family: Puritan;  font-size: 24px; letter-spacing: inherit; }
.no-fontface #fname {  font-family: Puritan; font-size: 30px; letter-spacing: 2px; }
.no-fontface #lname {  font-family: Puritan; font-size: 24px; letter-spacing: 1px; }
.no-fontface #nav a {  font-family: Puritan; font-size: 16px; padding: 6px 12px;}
.no-fontface #sidebar nav a {  font-family: Ubuntu; font-size: 16px; padding: 6px 12px;}

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}





