---
layout: default
title: Dheeraj Sayala
---


<section id="main">
  {% for post in site.posts limit:5 %}	

  <section class="blog-post">
    <aside class="sidebar">
      <div class="post-meta">
        <time datetime="{{post.date|date:"%Y-%m-%d"}}">{{ post.date|date:"%b %d, %Y"}}</time>
        in {% for category in post.categories %} {{category}} {% endfor %}
      </div>
    </aside>

    <article class="post">
      <header class="post-title">
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      </header>
      <div class="post-body">
        {{post.content}}
      </div>
    </article>
  </section>

  <div class="gap"></div>

  {% endfor %}
</section>

<hr />


